
<main>
    <div class="card" style="width: 18rem;">
        <img class="item"  src="assets/images/Cenzor.png">
        <div class="card-body" style="padding:0;">
            <p style="color:red; text-align: center;">Angular list of prohibited words</p>
            <hr>
        </div>

        <a [routerLink]="[ '/works/cenzor' ]" type="button" class="btn btn-success" style="height: 40px; width: 90%; margin: 0 auto;">Details</a>
        
    </div>
    <div class="card" style="width: 18rem;">
        <img class="item"  src="assets/images/TaskList.png">
        <div class="card-body" style="padding:0;">
            <p style="color:red; text-align: center;">Angular task list</p>
            <hr>
        </div>

        <a [routerLink]="[ '/works/task' ]" type="button" class="btn btn-success" style="height: 40px; width: 90%; margin: 0 auto;">Details</a>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="item"  src="assets/images/UserList.png">
        <div class="card-body" style="padding:0;">
            <p style="color:red; text-align: center;">Angular user list</p>
            <hr>
        </div>

        <a [routerLink]="[ '/works/users' ]"  type="button" class="btn btn-success" style="height: 40px; width: 90%; margin: 0 auto;">Details</a>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="item"  src="assets/images/PhoneBook.png">
        <div class="card-body" style="padding:0;">
            <p style="color:red; text-align: center;">Angular phone list</p>
            <hr>
        </div>

        <a [routerLink]="[ '/works/phone' ]" type="button" class="btn btn-success" style="height: 40px; width: 90%; margin: 0 auto;">Details</a>
    </div>
</main>